fastapi
uvicorn[standard]
sqlmodel
requests
beautifulsoup4
lxml
python-multipart
pydantic
pydantic-settings
google-cloud-aiplatform
openai
Pillow
python-dotenv
streamlit
aiofiles
langchain
langchain-google-genai
langchain-openai
langchain-community
